#if($feedItems && !$feedItems.isEmpty())
    #foreach($feedItem in $feedItems)
        <div class="row">
            <div class="container">
                #parse('includes/feeditem.vm')
            </div>
        </div>
    #end
#else
    <div class="row">
        <div class="container">
            <p>No feed items</p>
        </div>
    </div>
#end
