#if($feedItem.author.isNotEmpty()) @$feedItem.author - #end <a href="$feedItem.url">#if($feedItem.title) $!feedItem.title#else$feedItem.url#end</a>
#if($feedItem.date)<br/><span title="$feedItem.date">$dateFormatter.timeSince($feedItem.date)</span>#end
#if(!$subscription)
    from <a href="$urlBuilder.getSubscriptionUrl($feedItem.subscriptionId)">$feedItem.subscriptionName</a>
#end

#if($feedItem.imageUrl) <br/>
    <a href="$feedItem.url"><img class="img-fluid" src="$feedItem.imageUrl"></a>
#end
<br/>$!feedItem.body

#if($feedItem.place)
    <p>$feedItem.place</p>
#end



