<div class="row">
    <div class="container">
        <p><h4>whakaoko</h4>
        (verb) to listen to.</p>
        $!user.username
        <hr/>
    </div>
</div>

#if($message)
    <div>
        <div class="alert alert-warning">$message</div>
    </div>
#end
