<li>
	#if($feedItem.author) @$feedItem.author - #end <a href="$feedItem.url">#if($feedItem.title) $!feedItem.title#else$feedItem.url#end</a>
	#if($feedItem.imageUrl) <br/>
		<a href="$feedItem.url"><img src="$feedItem.imageUrl" border="0"></a>	
	#end
	<br/><span title="$feedItem.date">$dateFormatter.timeSince($feedItem.date)</span>
	
	<br/><a href="$urlBuilder.getSubscriptionUrl($currentUserService.currentUser, $feedItem.subscriptionId)">$feedItem.subscriptionId</a>
	<br/>$!feedItem.body
	
	#if($feedItem.place)
		<p>$feedItem.place</p>
	#end
	
	
</li>
