#parse('includes/header.vm')
<div class="container">
    #parse('includes/heading.vm')
    <div class="row">
        <div class="container">
            <div class="float-right">
                <a href="$urlBuilder.getChannelItemsUrl($channel)">JSON</a> |
                <a href="$urlBuilder.getChannelItemsUrl($channel)?format=rss">RSS</a>
            </div>
            <h5><a href="$urlBuilder.getUserUrl()">$user.username</a> / $channel.name
            #if($totalCount) ($totalCount)#end
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            #if($subscriptions && !$subscriptions.isEmpty())
                <ul>
                #foreach($subscription in $subscriptions)
                    <li><a href="$urlBuilder.getSubscriptionUrl($subscription)">#if($subscription.name)$subscription.name#else$subscription.url#end</a>
                    #if($subscription.itemCount > 0) ($subscription.itemCount)#end
                    #if($subscription.latestItemDate)
                        <br/>
                        <span title="$subscription.latestItemDate">$dateFormatter.timeSince($subscription.latestItemDate)
                    #end
                    ($!subscription.classification)
                    </li>
                #end
                </ul>
            #else
                <p>No current subscriptions</p>
            #end
            <p><a href="/ui/subscriptions/new"><button type="button" class="btn btn-primary">New subscription</button></a></p>
        </div>
        <div class="col">
            #if(!$geotagged.isEmpty())
                #parse('includes/map.vm')
                #foreach($feedItem in $geotagged)
                    <script>
                        var marker = L.marker([${feedItem.place.latLong.latitude}, ${feedItem.place.latLong.longitude}]).addTo(map).bindPopup("$feedItem.title");
                        markers.push(marker);
                    </script>
                #end
            #end
            #parse('includes/feeditems.vm')
        </div>
    </div>
</div>

<script>
    map.fitBounds(new L.featureGroup(markers).getBounds());
</script>
#parse('includes/footer.vm')