#parse('includes/header.vm')
<div class="container">
    #parse('includes/heading.vm')
    <div class="row">
        <div class="container">
            <h5><a href="$urlBuilder.getUserUrl()">Channels</a> / New channel</h5>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form action="/ui/channels/new" method="POST">
                #springBind("newChannelForm.name")
                Name: <input name="$!{status.expression}" value="$!{status.value}"/>
                #foreach($error in $status.errorMessages)
                    <div class="alert">$error</div>
                #end
                <input type="submit" />
            </form>
        </div>
    </div>
</div>
#parse('includes/footer.vm')
