<form action="/ui/subscriptions/feeds" method="POST">
	Feed: <input name="url" />
	
	Channel: 
	<select name="channel">
	#foreach($channel in $channels) 
		<option value="$channel.id">$channel.name</option>
	#end
	</select>
	
	<input type="submit" />
</form>
<hr/>

<form action="/${username}/subscriptions/twitter/tags" method="POST">
	Twitter tag: <input name="tag" />
	
	Channel: 
	<select name="channel">
	#foreach($channel in $channels) 
		<option value="$channel.id">$channel.name</option>
	#end
	</select>
		
	<input type="submit" />
</form>
<hr/>
