#parse('includes/header.vm')
<div class="container">
    #parse('includes/heading.vm')
    <div class="row">
        <div class="container">
            <h5><a href="$urlBuilder.getUserUrl()">Channels</a> /
            <a href="$urlBuilder.getChannelUrl($channel)">$channel.name</a> /
            New subscription
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>Adding a subscription to channel $channel.name</p>
            <form action="/ui/subscriptions/feeds" method="POST">
                #springBind("newSubscriptionForm.url")
                Feed URL: <input name="$!{status.expression}" value="$!{status.value}"/>
                #foreach($error in $status.errorMessages)
                    <div class="alert">$error</div>
                #end
                <input name="channel" value="$channel.id" type="hidden"/>
                <input type="submit" value="Add feed"/>
            </form>
            <hr/>
</div>
#parse('includes/footer.vm')
