#parse('includes/header.vm')
<div class="container">
    #parse('includes/heading.vm')
    <div class="row">
        <div class="container">
            <h5><a href="$urlBuilder.getUserUrl()">Channels</a> /
            <a href="$urlBuilder.getChannelUrl($channel)">$channel.name</a> /
            New subscription
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>Adding a subscription to channel $channel.name</p>
            <form action="/ui/subscriptions/feeds" method="POST">
                <input name="channel" value="$channel.id" type="hidden"/>
                <div class="form-group">
                    #springBind("newSubscriptionForm.url")
                    <label for="$!{status.expression}" class="control-label">URL</label>
                    <input type="input" class="form-control" name="$!{status.expression}" placeholder="Feed URL" value="$!{status.value}">
                    #foreach($error in $status.errorMessages)
                        <div class="alert alert-warning">$error</div>
                    #end
                </div>
                <div class="control-group">
                    <div class="controls">
                        <input type="submit" name="submit" value="Add feed" class="btn btn-primary" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
#parse('includes/footer.vm')
