#parse('includes/header.vm')
<div class="container">
    #parse('includes/heading.vm')
    <div class="row">
        <div class="col">
            <form action="/signin" method="POST" class="form-horizontal" accept-charset="UTF-8">
                <div class="form-group">
                    <input type="text" class="form-control" name="username" placeholder="Username" value="$!username">
                </div>
                 <div class="form-group">
                    <input type="password" class="form-control" name="password" placeholder="Password" value="">
                </div>
                <div class="control-group">
                    <div class="controls">
                        <input type="submit" name="login" value="Sign in" class="btn btn-primary" />
                    </div>
                </div>
                #if($error)
                    <div class="control-group">
                         <div class="alert alert-warning">$error</div>
                    </div>
                #end
            </form>
         </div>
    </div>
    <div class="row">
        <div class="col">
            <a href="/signin/redirect"><img src="/btn_google_signin_light_normal_web.png"></a>
        </div>
    </div>
</div>
#parse('includes/footer.vm')
