#parse('includes/header.vm')
<div class="container">
    #parse('includes/heading.vm')
    <div class="row">
        <div class="container">
            <div class="float-right">
                <a href="$urlBuilder.getSubscriptionItemsUrl($subscription)" target="_blank">JSON</a> |
                <a href="$urlBuilder.getSubscriptionItemsUrl($subscription)?format=rss" target="_blank">RSS</a>
            </div>
            <h5><a href="$urlBuilder.getUserUrl()">Channels</a> /
            <a href="$urlBuilder.getChannelUrl($channel)">$channel.name</a> /
            #if($subscription.name)$subscription.name#else$subscription.url#end #if($totalCount > 0) ($totalCount) #end</h5>
        </div>
    </div>
    <div class="row">
        <div class="container">
            #if($subscription.url)
                <code><a href="$subscription.url" target="_blank">$subscription.url</a></code>
            #end
            <p>#parse('includes/classification.vm')</p>

            <p> <a href="$urlBuilder.getReadSubscriptionUrl($subscription)"><button type="button" class="btn btn-primary">Read</button></a>
                <a href="$urlBuilder.getDeleteSubscriptionUrl($subscription)"><button type="button" class="btn btn-danger">Delete</button></a></p>

            #if($subscription.lastRead)
                <p><span title="$subscription.lastRead">Last read: $dateFormatter.timeSince($subscription.lastRead)</span></p>
                #if($subscription.error)
                    <div class="alert alert-danger" role="alert">
                        Error: $!subscription.error<br/>
                        Http status: $!subscription.httpStatus
                    </div>
                #else
                    <div>
                        Http status: $!subscription.httpStatus<br/>
                        #if($subscription.etag)
                            <p>ETag: $subscription.etag</p>
                        #end
                         #if($subscription.lastModified)
                            <p>Last modified: $subscription.lastModified</p>
                        #end
                    </div>
                #end
            #end

            #if($subscription.latestItemDate)
                <p>Latest item date: $dateFormatter.timeSince($subscription.latestItemDate)</p>
            #end
            <hr/>
        </div>
    </div>

    <div class="row">
        <div class="container">
            #parse('includes/geotagged.vm')
            #parse('includes/feeditems.vm')
        </div>
    </div>
</div>

#parse('includes/footer.vm')
