#parse('includes/header.vm')
<div class="container">
    #parse('includes/heading.vm')
    <div class="row">
        <div class="container">
            <div class="float-right">
                <a href="$urlBuilder.getSubscriptionItemsUrl($subscription.id)/items">JSON</a> |
                <a href="$urlBuilder.getSubscriptionItemsUrl($subscription.id)/items?format=rss">RSS</a>
            </div>
            <h5><a href="$urlBuilder.getUserUrl()">$user.username</a> /
            <a href="$urlBuilder.getChannelUrl($channel)">$channel.name</a> /
            #if($subscription.name)$subscription.name#else$subscription.url#end #if($totalCount > 0) ($totalCount) #end</h5>
        </div>
    </div>
    <div class="row">
        <div class="container">
            <code><a href="$subscription.url">$subscription.url</a></code>
            #if($subscription.error)
                <div class="alert alert-danger" role="alert">
                   Error: $!subscription.error<br/>
                    Http status: $!subscription.httpStatus
                </div>
            #end

            <p> <a href="$urlBuilder.getReadSubscriptionUrl($subscription)"><button type="button" class="btn btn-primary">Read</button></a>
                <a href="$urlBuilder.getDeleteSubscriptionUrl($subscription)"><button type="button" class="btn btn-danger">Delete</button></a></p>

            #if($subscription.lastRead)
                <p><span title="$subscription.lastRead">Last read: $dateFormatter.timeSince($subscription.lastRead)</span></p>
            #end

            #if($subscription.latestItemDate)
                <p>Latest item date: $dateFormatter.timeSince($subscription.latestItemDate)</p>
            #end
            #if($subscription.etag)
               <p>ETag: $subscription.etag</p>
            #end
            <hr/>
        </div>
    </div>

    <div class="row">
        <div class="container">
            #if(!$geotagged.isEmpty())
                <div class="row">
                    <div class="container">
                        #parse('includes/map.vm')
                        #foreach($feedItem in $geotagged)
                            <script>
                                var marker = L.marker([${feedItem.place.latLong.latitude}, ${feedItem.place.latLong.longitude}]).addTo(map).bindPopup("$feedItem.title");
                                markers.push(marker);
                            </script>
                        #end
                    </div>
                </div>
            #end
            #parse('includes/feeditems.vm')
        </div>
    </div>
</div>

<script>
    map.fitBounds(new L.featureGroup(markers).getBounds());
</script>
#parse('includes/footer.vm')
