#parse('includes/header.vm')
<div class="container">
    #parse('includes/heading.vm')
    <div class="row">
        <div class="container">
            <h5>Channels</h5>
        </div>
    </div>

    <div class="row">
        <div class="container">
            #if($channels && !$channels.isEmpty())
                <ul>
                    #foreach($channel in $channels)
                        <li><a href="$urlBuilder.getChannelUrl($channel)">$!channel.name</a></li>
                    #end
                </ul>
            #else
                <p>No channels.</p>
            #end
            <p><a href="$urlBuilder.getNewChannelUrl()"><button type="button" class="btn btn-primary">New channel</button></a></p>
            <hr/>
        </div>
    </div>
    <div class="row">
        <div class="container">
            <h5>Credentials and linked accounts</h5>
            <p>Use an access token to access your feeds with the Whakaoko API.<br/>
            Access token: $!user.accessToken - <a href="/generate-access-token">Generate</a></p>

            <p>Link a Google account to sign in with Google.<br/>
            Linked Google account: $!user.googleUserId - <a href="/signin/redirect">Link</a></p>
            <hr/>
        </div>
    </div>
</div>
#parse('includes/footer.vm')
