<p><h4>whakaoko - $user.username</h4>
(verb) to listen to.</p>

<h5>Channels</h5>

<p><a href="$urlBuilder.getNewChannelUrl()">New channel</a></p>

#if($channels && !$channels.isEmpty()) 
	<ul>
 	#foreach($channel in $channels) 
 		<li><a href="$urlBuilder.getChannelUrl($channel)">$!channel.name</a>
 		</li>
 	#end
 	</ul>
#else
	<p>No channels.</p>
#end

<h5>Subscriptions</h5>

<p><a href="/ui/subscriptions/new">New subscription</a></p>

<hr/>
<h5>Credentials</h5>
<p>Linked Instagram account: $instagramCredentials - <a href="/instagram/authorise/$user.username">Link</a></p>
<p>Linked Twitter account: $twitterCredentials - <a href="/twitter/authorise/$user.username">Link</a></p>
<hr/>