<p><h4>whakaoko</h4>
(verb) to listen to.</p>

<h5>Subscriptions</h5>
#if($subscriptions && !$subscriptions.isEmpty()) 
	<ul>
 	#foreach($subscription in $subscriptions) 
 		<li><a href="/subscriptions/$subscription.id">$!subscription.name</a> 
 		#if($subscriptionCounts.get($subscription.id) > 0) ($subscriptionCounts.get($subscription.id))#end
 		<br/>
 		$!subscription.latestItemDate
 		</li>
 	#end
 	</ul>
#else
	<p>No current subscriptions.</p>
#end
<p><a href="/subscriptions/new">Add subscription</a></p>

<h5>Inbox ($inboxSize)</h5>
<a href="/inbox/rss">RSS</a>
#if($inbox && !$inbox.isEmpty()) 
	<ul>
 	#foreach($inboxItem in $inbox)
 		<li><a href="$inboxItem.url">$!inboxItem.title</a>
 		<br/>$inboxItem.date
 		</li>
 	#end
 	</ul>
#else
	<p>Inbox currently empty.</p>
#end