<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.css" />
<script src="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.js"></script>

<p><h4>whakaoko</h4>
(verb) to listen to.</p>

<h5>$subscription.channelId / #if($subscription.name)$subscription.name#else$subscription.url#end #if($subscriptionSize > 0) ($subscriptionSize) #end</h5>

#if($subscription.lastRead)
	<p><span title="$subscription.lastRead">Last read: $dateFormatter.timeSince($subscription.lastRead)</span></p>
#end

<a href="$urlBuilder.getSubscriptionItemsUrl('tonytw1', $subscription.id)/items">JSON</a> | 
<a href="$urlBuilder.getSubscriptionItemsUrl('tonytw1', $subscription.id)/items?format=rss">RSS</a>

<div id="map" style="height: 400px"></div>

<script>
	// create a map in the "map" div, set the view to a given place and zoom
	var map = L.map('map').setView([51.505, -0.09], 13);

	// add an OpenStreetMap tile layer
	L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
	    attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
	}).addTo(map);

	var markers = [];
</script>

#if($feedItems && !$feedItems.isEmpty()) 

	<ul>
	 	#foreach($feedItem in $feedItems)
	 		#parse('includes/feeditem.vm') 		
			
			#if($feedItem.isGeoTagged())
				<script>
	          		var marker = L.marker([${feedItem.place.latLong.latitude}, ${feedItem.place.latLong.longitude}]).addTo(map).bindPopup("$feedItem.title");
					markers.push(marker);
	          	</script>
	       	#end
		#end
 	</ul>
 	
#else
	<p>No items from this subscription.</p>
#end

<script>
	map.fitBounds(new L.featureGroup(markers).getBounds());
</script>