#parse('includes/header.vm')

<p><h4>whakaoko</h4>
(verb) to listen to.</p>

<h5>$subscription.channelId / #if($subscription.name)$subscription.name#else$subscription.url#end #if($subscriptionSize > 0) ($subscriptionSize) #end</h5>

<code><a href="$subscription.url">$subscription.url</a></code>

<p><a href="$urlBuilder.getDeleteSubscriptionUrl($subscription)">Delete</a></p>

#if($subscription.lastRead)
	<p><span title="$subscription.lastRead">Last read: $dateFormatter.timeSince($subscription.lastRead)</span></p>
#end

<p>$!subscription.error</p>

<a href="$urlBuilder.getSubscriptionItemsUrl($currentUserService.currentUser, $subscription.id)/items">JSON</a> | 
<a href="$urlBuilder.getSubscriptionItemsUrl($currentUserService.currentUser, $subscription.id)/items?format=rss">RSS</a>

#parse('includes/map.vm')

#if($feedItems && !$feedItems.isEmpty()) 

	<ul>
	 	#foreach($feedItem in $feedItems)
	 		#parse('includes/feeditem.vm') 		
			
			#if($feedItem.isGeoTagged())
				<script>
	          		var marker = L.marker([${feedItem.place.latLong.latitude}, ${feedItem.place.latLong.longitude}]).addTo(map).bindPopup("$feedItem.title");
					markers.push(marker);
	          	</script>
	       	#end
		#end
 	</ul>
 	
#else
	<p>No items from this subscription.</p>
#end

<script>
	map.fitBounds(new L.featureGroup(markers).getBounds());
</script>

#parse('includes/footer.vm')
