<p><h4>whakaoko</h4>
(verb) to listen to.</p>

<h5>$subscription.channelId / #if($subscription.name)$subscription.name#else$subscription.url#end #if($subscriptionSize > 0) ($subscriptionSize) #end</h5>

#if($subscription.lastRead)
	<p><span title="$subscription.lastRead">Last read: $dateFormatter.timeSince($subscription.lastRead)</span></p>
#end

<a href="$urlBuilder.getSubscriptionItemsUrl('tonytw1', $subscription.id)/items">JSON</a> | 
<a href="$urlBuilder.getSubscriptionItemsUrl('tonytw1', $subscription.id)/items?format=rss">RSS</a>

#if($feedItems && !$feedItems.isEmpty()) 
	<ul>
 	#foreach($feedItem in $feedItems)
 		#parse('includes/feeditem.vm') 		
 	#end
 	</ul>
#else
	<p>No items from this subscription.</p>
#end