<p><h4>whakaoko</h4>
(verb) to listen to.</p>

<h5>Channels</h5>

<p><a href="$urlBuilder.getNewChannelUrl('tonytw1')">New channel</a></p>

<p><a href="/ui/tonytw1/subscriptions/new">New subscription</a></p>

#if($channels && !$channels.isEmpty()) 
	<ul>
 	#foreach($channel in $channels) 
 		<li><a href="$urlBuilder.getChannelUrl($channel)">$!channel.name</a>
 		</li>
 	#end
 	</ul>
#else
	<p>No channels.</p>
#end

<hr/>
<h5>Credentials</h5>
<p>Linked Instagram account: $instagramCredentials - <a href="/instagram/authorise">Link</a></p>
<p>Linked Twitter account: $twitterCredentials - <a href="/twitter/authorise">Link</a></p>
<hr/>