<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       	http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util-3.0.xsd
       	http://www.springframework.org/schema/aop
       	http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

    <aop:aspectj-autoproxy/>

    <util:properties id="config" location="classpath:whakaoko.properties"/>

    <bean id="httpFetcher" class="uk.co.eelpieconsulting.common.http.HttpFetcher">
        <constructor-arg index="0" value="UTF-8"/>
        <constructor-arg index="1" value="Whakaoko"/>
    </bean>

    <bean id="memcache" class="uk.co.eelpieconsulting.common.caching.MemcachedCache">
        <constructor-arg index="0" value="#{config['memcached.urls']}"/>
    </bean>

    <bean id="taskExecutor"
          class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
        <property name="corePoolSize" value="10"/>
        <property name="maxPoolSize" value="15"/>
        <property name="queueCapacity" value="750"/>
    </bean>

</beans>
